extends layout

block content
  h1= title
  p Welcome to #{title}
//- form(method='POST',enctype ='multipart/form-data', action ='uploaddufichier',accept ='png')
//-     input(name='monfichier', value= "test", type='file',accept="image/png",multiple)
//-     input(value='Submit', type='submit')